* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*border: 1px solid red; */
}
.background {
    background: url(./assets/img/Ayutthaya_Thailande1.jpg) center/cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
.titre {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
    margin-top: 75px;
    height: 25%;
}
.navbar {
    position: absolute;
    margin-top: -6.5%;
    margin-left: 200px;

    
}
.left-rectangle {
    position: absolute;
    width: 20vw;
    height: 50vh;
    border-top-right-radius: 850px;
    border-bottom-right-radius: 850px;

    top: 180px;
    background: rgba(255, 0, 0, 0.71);
}
.left-rectangle p {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-top: 125px;
    margin-right: 5%;
    color: white;
}
.right-rectangle {
    position: absolute;
    width: 20vw;
    height: 50vh;
    border-top-left-radius: 850px;
    border-bottom-left-radius: 850px;
    right: 1px;
    top: 180px;
    background: rgba(27, 11, 121, 0.71);
    
}
.right-rectangle p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 130px;
    margin-left: 8%;
    color: white;
}
.bottom-rectangle {
    position: absolute;
    width: 32vw;
    height: 22vh;
    border-top-left-radius: 850px;
    border-top-right-radius: 850px;
    top: 78%;
    left: 35%;
    background: rgba(143, 140, 158, 0.71); 
}
.bottom-rectangle p {
    text-align: center;
    font-size: 27px;
    font-weight: 550;
    margin-top: 69px;
    color: black;
}
@media screen and (max-width: 1600px) {

     .left-rectangle p {
        font-size: 25px;
        font-weight: 100;
        margin-top: 70%;
    }
    .right-rectangle p {
        font-size: 17px;
        font-weight: 100;
        margin-top: 70%;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1655px) {
    .left-rectangle p {
        font-size: 25px;
        font-weight: 100;
        margin-top: 70%;
    }
    .right-rectangle p {
        font-size: 17px;
        font-weight: 100;
        margin-top: 70%;
    }
}
